{% extends 'base.html' %} 
{% load static %}
{% block content %}
{% if messages %}
    {% for message in messages  %}
	{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
		<div class="alert alert-success" style="margin-top: -20px;" role="alert"><i class="fa fa-check-circle"></i>&nbsp;{{ message }}</div>
	{% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
		<div class="alert alert-warning" style="margin-top: -20px;" role="alert"><i class="fa fa-exclamation-circle"></i>&nbsp;{{ message }}</div>
	{% endif %}    
	{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
		<div class="alert alert-info" style="margin-top: -20px;" role="alert"><i class="fa fa-info-circle"></i>&nbsp;{{ message }}</div>
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
		<div class="alert alert-danger" style="margin-top: -20px;" role="alert"><i class="fa fa-times-circle"></i>&nbsp;{{ message }}</div>
	{% endif %}  
    {% endfor %}
{% endif %}
<form method="post">
	{% csrf_token %}
	<fieldset>
		<h1 class="tablink" onclick="openPage('new')" id="defaultOpen">Add Instructor</h1>
		<a href="{% url 'editinstructors' %}"><h1 class="tablink" onclick="openPage('edit')" id="link_to_edit">Edit Instructor</h1></a>
		<div class="tabcontent" id="new">
			{{ form.as_p }}
		<input type="submit" value="Submit" class="submit">
		</div>
	</fieldset>   
</form>
{% comment %} <div class="img">
	<img src="{% static 'image/teacher.svg' %}">
</div> {% endcomment %}
{% endblock %}