{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages  %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success" style="margin-top: -20px; border-radius: 0px" role="alert"><i
    class="fa fa-check-circle"></i>&nbsp;<strong>{{ message }}</strong></div>
{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
<div class="alert alert-warning" style="margin-top: -20px; border-radius: 0px" role="alert"><i
    class="fa fa-exclamation-circle"></i>&nbsp;<strong>{{ message }}</strong></div>
{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<div class="alert" style="margin-top: -20px; background-color: #f1f6f9; border-radius: 0px" role="alert"><i
    class="fa fa-info-circle"></i>&nbsp;<strong>{{ message }}</strong></div>
{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger" style="margin-top: -20px; border-radius: 0px" role="alert"><i
    class="fa fa-times-circle"></i>&nbsp;<strong>{{ message }}</strong></div>
{% endif %}
{% endfor %}
{% endif %}
<nav aria-label="breadcrumb" >
	<ol class="breadcrumb" style="background-color: #9088d4">
	  <li class="breadcrumb-item"><a href="{% url 'home' %}" >Scheduler</a></li>
	  <li class="breadcrumb-item active" aria-current="page" style="color: #f1f6f9;">Room</li>
	</ol>
</nav>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/roomlist.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/table.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row" style="justify-content: left;">
      <div class="col-sm-4">
        <div style="margin-left: -20px;">
          <h1 class="logo text-left">Add Room</h1>
          <div class="login-form-1">
            <form id="login-form" class="text-left" method="post">
              {% csrf_token %}
              <div class="login-form-main-message"></div>
              <div class="main-login-form">
                <div class="login-group">
                  <div class="form-group">
                    <label for="r_number" class="sr-only">Room ID</label>
                    <input type="text" class="form-control" id="r_number" name="r_number" placeholder="Room ID"
                      required>
                  </div>
                  <div class="form-group">
                    <label for="r_name" class="sr-only">Room Name</label>
                    <input type="text" class="form-control" id="r_name" name="r_name" placeholder="Room Name" required>
                  </div>
                  <div class="form-group">
                    <label for="seating_capacity" class="sr-only">Room Capacity</label>
                    <input type="text" class="form-control" id="seating_capacity" name="seating_capacity"
                      placeholder="Room Capacity" required>
                  </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
              </div>
            </form>
          </div>
          <div>
          </div>
        </div>
        <div style="margin-left: -100px; margin-top: 100px;">
          <div>
            <img src="{% static 'image/classroom1.svg' %}">
          </div>
        </div>
      </div>
      <div class="col-sm-8" >
        <h1 class="logo">Available Room</h1>
        <div class="panel panel-default panel-table" style="text-align: center;">
          <div class="panel-body" style="padding: 0px;">
            <table class="table table-bordered table-list " style="background-color: #f1f6f9;">
              <thead>
                <tr style="text-align-last: center;">
                  <th><em class="fa fa-cog"></em></th>
                  <th class="hidden-xs">ID</th>
                  <th>Room Number</th>
                  <th>Room Name</th>
                  <th>Room Capacity</th>
                </tr>
              </thead>
              <tbody>
                {%  for r in room  %}
                <tr>
                  <td align="center">
                    <form action="{% url 'deleterooms' r.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger"><em class="fa fa-trash"></em></button>
                    </form>
                    <form action="{% url 'updaterooms' r.id %}" method="get">
                      {% csrf_token %}
                      <button type="button" class="btn" style="background-color: #9088d4;" data-toggle="modal"
                        data-target="#modal-default{{r.id}}"><em class="fa fa-pencil"></em></button>
                    </form>
                  </td>
                  <td class="hidden-xs">{{  r.id  }}</td>
                  <td>{{ r.r_number }}</td>
                  <td>{{ r.r_name }}</td>
                  <td>{{ r.seating_capacity }}</td>
                </tr>
                <div class="modal fade" id="modal-default{{r.id}}" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Room</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="{% url 'updaterooms' r.id %}" id="login-form" method="post">
                          {% csrf_token %}
                          <div class="login-form-main-message"></div>
                          <div>
                            <div class="text-left">
                              <h6>Room Number</h6>
                            </div>
                            <div class="form-group">
                              <label for="r_number" class="sr-only">Room ID</label>
                              <input type="text" class="form-control" id="r_number" name="r_number"
                                placeholder="Room ID" required value="{{r.r_number}}">
                            </div>
                            <div class="text-left">
                              <h6>Room Name</h6>
                            </div>
                            <div class="form-group">
                              <label for="r_name" class="sr-only">Room Name</label>
                              <input type="text" class="form-control" id="r_name" name="r_name" placeholder="Room Name"
                                required value="{{r.r_name}}">
                            </div>
                            <div class="text-left">
                              <h6>Room Capacity</h6>
                            </div>
                            <div class="form-group">
                              <label for="seating_capacity" class="sr-only">Room Capacity</label>
                              <input type="text" class="form-control" id="seating_capacity" name="seating_capacity"
                                placeholder="Room Capacity" value="{{r.seating_capacity}}" required>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn" style="background-color: #9088d4; color: #f1f6f9;">Save changes</button>
                          </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
                {%  endfor  %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
</body>

{% endblock %}