{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
    <div style="text-align: -webkit-center;">
        <h1 style="color: #f1f6f9;">TIME TABLE</h1> 
        <table border="5" cellspacing="0" align="center" > 
            <!--<caption>Timetable</caption>-->
            <tr> 
                <td align="center" height="100"
                    width="200" class="hidden-xs"><br> 
                    <b>Period/Day</b></br> 
                </td> 
                <td align="center" height="100"
                    width="200"> 
                    <b>Monday</b> 
                </td> 
                <td align="center" height="100"
                    width="200"> 
                    <b>Tuesday</b> 
                </td> 
                <td align="center" height="100"
                    width="200"> 
                    <b>Wednesday</b> 
                </td> 
                <td align="center" height="100"
                    width="200"> 
                    <b>Thursday</b> 
                </td> 
                <td align="center" height="100"
                    width="200"> 
                    <b>Friday</b> 
                </td> 
                <td align="center" height="100"
                    width="200"> 
                    <b>Saturday</b> 
                </td> 
                <td align="center" height="100"
                    width="200"> 
                    <b>Sunday</b> 
                </td> 			
            </tr> 
            <tr> 
                <td align="center" height="100"> 
                    <b>Shift 1</b></td> 
                <td align="center" height="100">Eng</td> 
                <td align="center" height="100">Mat</td> 
                <td align="center" height="100">Che</td>
                <td align="center" height="100"></td> 
                <td align="center" height="100"></td> 
                <td align="center" height="100"></td> 
                <td align="center" height="100"></td> 
            </tr> 
            <tr> 
                <td align="center" height="100"> 
                    <b>Shift 2</b> 
                </td> 
                <td align="center" height="100">Eng</td> 
                <td align="center" height="100">Che</td> 
                <td align="center" height="100">Mat</td> 
                <td align="center" height="100">SPORTS</td> 
                <td align="center" height="100"></td> 
                <td align="center" height="100"></td> 
                <td align="center" height="100"></td> 
            </tr> 
            <tr> 
                <td align="center" height="100"> 
                    <b>Shift3</b> 
                </td> 
                <td align="center" height="100">Mat</td> 
                <td align="center" height="100">phy</td> 
                <td align="center" height="100">Eng</td> 
                <td align="center" height="100">Che</td> 
                <td align="center" height="100"></td> 
                <td align="center" height="100"></td> 
                <td align="center" height="100"></td> 
            </tr> 
            <tr> 
                <td align="center" height="100"> 
                    <b>Shift 4</b> 
                </td> 
                <td align="center" height="100">Phy</td> 
                <td align="center" height="100">Eng</td> 
                <td align="center" height="100">Che</td> 
                <td align="center" height="100">Mat</td> 
                <td align="center" height="100"></td> 
                <td align="center" height="100"></td> 
                <td align="center" height="100"></td> 
            </tr> 
            <tr> 
                <td align="center" height="100"> 
                    <b>Shift 5</b> 
                </td> 
                <td align="center" height="100">Mat</td> 
                <td align="center" height="100">Che</td> 
                <td align="center" height="100">Eng</td> 
                <td align="center" height="100">Phy</td> 
                <td align="center" height="100"></td> 
                <td align="center" height="100"></td> 
                <td align="center" height="100"></td> 
            </tr> 
        </table> 
    </div>
</body> 

{% endblock %}